body>div{
	padding:8px;
}

body{
	background: #181818;
	color:white;
}

.orange{
	color:#ff8040;
}

.yellow{
	color:#ff0;
}

.gray{
	color:#808080;
}

a{
	color:white;
}

table{
	width:100%;
	text-align: center;
}

#recipes tr, #output tr{
	background-color: #363636;
	padding:4px;
}

th{
	padding: 4px;
}

th, #recipes tr:nth-child(odd), #output tr:nth-child(odd){
	background-color: #272727;
}

.button{
	cursor: pointer;
	background-color: #0275d8;
	display: inline-block;
    line-height: 1.25;
    vertical-align: middle;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    margin: 4px;
}

.delete{
	color: red;
	font-weight: bolder;
	cursor: pointer;
}

.delete:before{
	content: " ×";
}

#production-list>div{
	padding: 4px;
}

#production-list>div:nth-child(even){
	background-color: #272727;
}

#production-list>div:nth-child(odd){
	background-color: #363636;
}